* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: #fff; 
    
}

.calculater {
    background-color: #233342;
    padding: 10px;
    border-radius: 5px;
}

.calculater form input {
    outline: none;
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    font-size: 30px;
    margin: 10px;
    color: #fff;
    background-color: #233342;
    box-shadow:-8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    cursor: pointer;
}
form .disply{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .disply input{
    text-align: right;
    flex: 1;
    font-size: 30px;
    box-shadow: none;
   

}

form .disply input::placeholder{
    color: #fff;
    font-size:30px;
} 
form input.equal{
    width:145px;
    background-color: #eb8231;
}
